<div class="container">
  <div class="row row-cols-1 row-cols-md-4">
    <% @celebrities.each do |celeb| %>
      <div class="col m-4">
        <div class="card bg-light" style="min-width: 284px; max-width: 284">
          <img src="<%= celeb[:url] %>" class="card-img-top " alt="celebrity image" style="width: 282px; height: 282px; object-fit: cover; ">
          <div class="card-body">
            <h5 class="card-title"><%= celeb[:name] %></h5>
            <p class="card-text"><%= celeb[:notability] %></p>
            <%= link_to 'See more detail', celeb_path(celeb[:id]) %>
          </div>
        </div>    
      </div>
    <% end %>
  </div>
</div>