<div class="footer-margin">
</div>

<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="row justify-content-between align-items-center">
        <span class="col-3 col-sm-4 text-left" style="color: white;">Jason Kim &copy;</span>
        <span class="ml-auto col-9 col-sm-8 text-right">
            <a href="https://github.com/jasonkim7288" class="links-icon links-icon-background" target="#blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/im-jasonkim" class="links-icon links-icon-background" target="#blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://twitter.com/jasonkim7288" class="links-icon links-icon-background" target="#blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://medium.com/@jason.kim7288" class="links-icon links-icon-background" target="#blank">
                <i class="fab fa-medium-m"></i>
            </a>
        </span>
    </div>
  </div>
</footer>